<%= content_tag :div, id: dom_id(picture), class: 'col-12' do %>
     <div class="row">
          <div class="col-md-6 offset-md-3">
               <div class="alert alert-info">
                    Documents successfully shared to administrator.
               </div>
          </div>
     </div>
<% end %>