<tr class="nested-fields">
     <td>
          <%= f.collection_select(:product_id, 
               Product.order(name: :desc),:id,:name, 
               {:prompt=>true},
               {id: "select-products", class: "form-control select2-products ", style: "min-width: 100%!important;", placeholder: "Product list", required: ""}) 
          %>
     </td>
     <td>
          <%= link_to_remove_association f, class: "btn btn-white btn-sm removeProduct", style: "margin: 0;" do %>
               <i class="fa fa-times text-danger"></i>
          <% end %>  
     </td>

</tr>