<a class="btn btn-white btn-bitbucket dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
     <i class="fa fa-ellipsis-h"></i>
</a>
<ul class="dropdown-menu dropdown-user" x-placement="bottom-start">
     <% if order.status === "new_order" %>
          <li>
               <%= link_to 'Edit', edit_order_path(order), class: "dropdown-item" %>
          </li>
     <% end %>
     <li>
          <%= link_to 'To PDF or Print', generate_pdf_path(order, format: :pdf), class: "dropdown-item" %>
     </li>
</ul>

