<!DOCTYPE html>
<html>
<head>
<title>Boston Pediatric Dental Group</title>
    <%= wicked_pdf_stylesheet_link_tag "bootstrap.min" %>
    <%= wicked_pdf_stylesheet_link_tag "custom" %>
    <%= wicked_pdf_stylesheet_link_tag "color_admin" %>
</head>
<body>
    <%= yield %>
</body>
</html>